<a href="https://colab.research.google.com/github/Fanusaez/Organizacion-de-Datos/blob/main/Pandas_ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>Organizaci&oacute;n de Datos</center>
#### <center>C&aacute;tedra Ing. Rodriguez, Juan Manuel </center>

## <center>Introducción a la Ciencia de Datos</center>
### <center> Práctica Pandas y Visualizaciones</center>

In [ ]:
from google.colab import drive
drive.mount("/gdrive")

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

En esta notebook vamos a trabajar con los siguientes conjuntos de datos (datasets):

*   iris.csv
*   peliculas.csv
*   attacks.csv
*   dolar_oficial_ambito.csv
*   spotify.csv

A continuación se encuentran los ejercicios que tenemos que realizar:

## Ejercicio 1 - Dataset Iris

El conjunto de datos iris contiene medidas de longitud y ancho de pétalos y sépalos de flores de tres especies de Iris recogidas por el botánico Edgar Anderson. Es uno de los datasets más clásicos en el mundo del Machine Learning. Basado en la combinación de estos cuatro rasgos, Fisher desarrolló un modelo discriminante lineal para distinguir entre una especie y otra.

#### a) Cargar los datos en un dataframe de pandas.

* ¿Cuál es la cantidad de filas del datset? ¿y la cantidad de columnas?
* ¿Cuáles son los tipos de datos de cada columna?
* Mostrar los datos de las 5 primeras filas
* Mostrar si existen datos faltantes (N/A)

In [ ]:
import pandas as pd

iris = pd.read_csv('/gdrive/My Drive/Datasets/iris.csv')
iris.shape

(150, 5)

El dataset contiene 150 filas y 5 columnas

In [ ]:
iris.head(5)

Cada observacion corresponde a una flor sobre ella se midieron el largo y el ancho del sepalo y el ancho y el largo del pétalo. También se registra cuál es la especie de cada flor.

In [ ]:
iris.info()

In [ ]:
iris.dtypes

En Python, el tipo de datos de texto se conoce como secuencia de caracteres (string). En Pandas se los conoce como objetos (object). Las secuencias de caracteres pueden contener números y / o caracteres.

In [ ]:
iris.isnull().sum()

Podemos ver que ninguna columna tiene valores faltante

### b) Medidas de resumen

* Cuál es la cantidad de observaciones de cada especie
* Crear un nuevo dataframe **iris_mean** que contenga el promedio de cada variable del dataset agrupado por especie
* Crear un nuevo dataframe **iris_resumen_setosa** que contenga las medidas de resumen para la espcie setosa.(cantidad total, media, minimo,maximo,desviacion estandar y cuantiles)

In [ ]:
iris.species.value_counts()

Vemos que hay 50 flores de cada especie

In [ ]:
iris_mean=iris.groupby(['species']).mean()
iris_mean

La especie setosa tiene el menor ancho promedio de pétalo y la especie virgínica el mayor largo promedio de sépalo.

In [ ]:
iris_setosa_resumen=iris[iris.species=='setosa'].describe()
iris_setosa_resumen

Para la especie setosa podemos ver que las mediciones del sépalo son las que presentan mayor desvío estándar

###c)  Realizar los siguientes gráficos:
* grafico de barras para la cantidad de obsevaciones por especie
* scatter plot el largo del sépalo y el ancho del sépalo coloreando las observaciones por especie.
* scatter plot el largo del pétalo y el ancho del pétalo coloreando las observaciones por especie.
* histograma del largo del petalo para cada especie
* boxplot comparativos por especie para cada variable

In [ ]:
#Vamos a usar seaborn y matplotlib
import seaborn as sns
from matplotlib import pyplot as plt

In [ ]:
#Grafico de Barras
sns.countplot(x='species', data=iris, )
plt.show()

In [ ]:
#Grafico scatter plot sepalos
sns.set_style("whitegrid")
sns.FacetGrid(iris, hue ="species", height = 5).map(plt.scatter,'sepal_length','sepal_width').add_legend()

¿Qué podemos ver en este scatter plot? 

La especie Setosa tiene sépalos más pequeños pero anchos de sépalos más grandes.

La especie Virginica tiene sépalos más largos pero anchos de sépalos más pequeños.

In [ ]:
#Grafico scatter plot petalos
sns.scatterplot(x='petal_length', y='petal_width',hue='species', data=iris )
plt.legend(bbox_to_anchor=(1, 1), loc=2)
plt.show()

¿Qué podemos ver en este scatter plot? 

La especie Setosa tiene pétalos de menor longitud y anchura.

La especie Virginica tiene la mayor longitud y anchura de los pétalos.

In [ ]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

#Histograma del largo del petalo
plot = sns.FacetGrid(iris, hue="species",height=4)
plot.map(sns.distplot, "petal_length").add_legend()

¿Qué podemos ver en este gráfico? ...

In [ ]:
#Grafico boxplots 

plt.figure(figsize=(10,10))
      
plt.subplot(221)
sns.boxplot(x="species", y='sepal_length', data=iris)
  
plt.subplot(222)
sns.boxplot(x="species", y='sepal_width', data=iris)
  
plt.subplot(223)
sns.boxplot(x="species", y='petal_length', data=iris)
  
plt.subplot(224)
sns.boxplot(x="species", y='petal_width', data=iris)
  
plt.show()

### Bonus track!

In [ ]:
# Gráfico de a pares
sns.pairplot(iris, hue='species', height=2)

####  Realizar un gráfico a elección sobre el conjunto de datos indicando que información se puede obtener de dicha visualización

## Ejercicio 2 - Dataset Películas

El conjunto de datos contiene información de IMDB sobre algunas películas estrenadas durante los años 1995 y 1996. Se coonce el título de las películas, el pesupuesto invertido, los ingresos obtenidos y la popularidad entre otros.

#### a) Cargar el dataset en un dataframe de pandas

* ¿Cuál es la cantidad de filas del datset? ¿y la cantidad de columnas?
* Listar los nombres de las columnas y sus tipos de dato.
* Mostrar los datos de las 5 primeras filas
* Mostrar si existen datos faltantes (N/A)
¿Qué porcentaje representan del total de datos?

#### b)  Generar un nuevo dataframe **dataset_peliculas** que contenga las siguientes columnas: 

* *original_title*
* *title* 
* *adult*
* *original_language*
* *popularity*
* *budget*
* *release_date*
* *revenue*
* *vote_count*

Verificar si existen datos faltantes, en ese caso eliminar las filas que los contengan. 

A partir del atributo release_date generar dos nuevos atributos **year y month**

Guardar el dataset en un archivo csv con el nombre dataset_peliculas.

#### c) Responder las siguientes preguntas sobre los datos del  **dataset_peliculas** generado en el punto b.

* ¿Cuál es el idioma más popular de las películas?
Generar un dataframe **idiomas** que contenga una columna *idioma* y otra *cantidad* donde se pueda ver la cantidad de veces que aparece cada idioma en en el dataset. 

* ¿Qué películas tienen un *revenue* mayor al promedio?
Generar un dataframe **mayor_revenue** que contenga una columna *titulo* y otra *revenue* con las películas que tengan un revenue mayor al promedio.

* ¿Cuál fue la rentabilidad (revenue - budget) de cada película?
Generar un dataframe **rentabilidad** conlas columnas *titulo, rentabildad, revenue y budget** ordenado de mayor a menor. 
¿Qué peliculas fueron las más rentables?
¿Cuáles no fueron rentables?

#### d) Realizar los siguientes gráficos

* Realizar un gráfico de barras que permita ver la cantidad de películas estrenadas por mes durante el año 1996.

* Realizar un scatter plot de budget vs revenue
¿Qué podemos ver en el scatter plot? ¿Les llama la atención alguna/s observacion/es ?

* Realizar un pairplot con todas las variables cuantitativas.

## Ejercicio 3 - Dataset Ataque de Tiburones

El conjunto de datos contiene un registro de los ataques de tiburones que ocurrieron en distintos países en los últimos 200 años. Se identifica el caso, el país,el sexo de la persona y su edad entre otros.

#### a) Cargar el dataset en un dataframe de pandas realizar un análisis exploratorio

#### b) Realizar un gráfico de barras para el atributo Country. ¿Cuáles son los dos países con mayor cantidad de ataque de tiburones?

#### c) Crear un nuevo dataframe **shark_attacks** que contenga unicamente los ataques correspondientes a los dos países del punto b

#### d) Registros con valores inconsistentes:
* La varible "Sex" debe contener únicamente los valores F, M . Eliminar los que no correspondan y también los valores faltantes.
* La variable "Age" debe contener únicamente valores numéricos.Eliminar los valores que no correspondan, reemplazar los valores faltantes por 0 y convertir el tipo de dato a entero.
* La variable Year debe contener únicamente valores del tipo AAAA (Ej: 1890,1916,etc). Modificar los valores y convertir el tipo de dato a entero. *Hint : str.replace(...)* . Filtrar los registros desde el 1800 en adelante.

#### e) Mostrar la cantidad de observaciones para cada categoría de la variable **Activity** . Mantener las categorias mas representativas y el resto unificarlas bajo la etiequeta **Other**

#### f) Realizar una tabla cruzada para las siguientes combinaciones de variables:

* Country-Sex
* Country-Type
* Year-Sex para los últimos 10 años.

#### g) Realizar los siguientes gráficos:

* Grafico de Violin: colocar en el eje horizontal la variable **Sex** y en el eje vertical la variable **Age** seleccionado sólo los registros donde la edad sea mayor a 0.

* Gráfico de densidad para la variable **Age** por sexo, seleccionado sólo los registros donde la edad sea mayor a 0.

* Gráfico de barras con la cantidad de accidentes por año por país para los últimos 60 años.

## Ejercicio 4 - Dataset Dolar

El conjunto de datos contiene la cotización oficial diaria del dólar para la compra y para la venta públicada en ámbito financiero.

#### a) Realizar un análisis exploratorio, mostrando el tamaño del dataset, los nombres de las columnas, los tipos de datos y las mediadas de resumen.
¿Hay valores faltantes?

#### b) Realizar las siguientes conversiones y generar los nuevos dataframes solicitados:

* Convertir el atributo **fecha** en tipo de dato *date*. *Hint : pandas.to_datetime(...)*

* A partir del atributo **fecha** generar tres nuevas columnas : **dia, mes, año**.

* Generar un nuevo DataFrame **dolar_prom_mes** que contenga la cotización promedio mensual (para la compra y para la venta) de cada mes. El DF debe tener las siguientes columnas: **año,mes,venta_prom_mes,compra_prom_mes**

* Generar un nuevo DataFrame **dolar_maxmin_mes** que contenga la cotización más alta y la mas baja de cada mes. El DF debe tener las siguientes columnas: **año,mes,venta_max_mes,venta_min_mes,compra_max_mes, compra_min_mes**

* Generar un nuevo DataFrame **dolar_hist** que contenga las cotizaciones diarias junto con la máxima, la mínima y la promedio del mes. El DF debe tener las  siguientes columas: **año, mes, dia, compra, compra_prom, compra_max_mes, compra_min_mes, venta, venta_prom_mes, venta_max_mes, venta_min_mes**

* Generar un nuevo DataFrame **dolar_long** con las siguientes columnas: **año, mes, tipo_cot, cot** donde la variable **tipo_cot** tome los valores literales 'compra' o 'venta' y la varibale **cot** la cotización correspondiente. *Hint: pandas.melt(....)*

#### c) Realizar los siguientes gráficos:
* Boxplots comparativos de la cotización de venta por año.
* Boxplots comparativos de la cotización de venta por mes para el año 2019.
* Gráfico de la serie de tiempo de la cotización de compra y de venta diaria. Plus: Incluir en el gráfico la tendencia promedio mensual.
* Gráfico a elección con el dataset **dolar_long** que permita obtener información diferente a la obtenida a partir los gráficos anteriores.

## Ejercicio 5  - Spotify

El conjunto de datos contiene información sobre algunos tracks (canciones) de spotify. Entre los datos disponibles encontramos el género, la popularidad, la duracion y una serie de features de audio como el tempo, la valencia etc.

Para conocer en detalle cada atributo consultar el siguiente link:

https://developer.spotify.com/documentation/web-api/reference/#/operations/get-several-audio-features

### Parte I

1.   Realizar una descripción del dataset detallando nombres de las columnas, tipos de datos y descripción de cada una.
2.   Mostrar un conjunto reducido de filas (las primeras y las últimas)
3.   Reportar cantidad de valores nulos por columna.
4.   Variables cualitativas:
  *  Sobre las variables de este tipo mostrar los distintos valores existentes y la cantidad de filas correspondientes a cada uno.
  Armar un nuevo dataframe con estos datos.
  *   Compare en un gráfico de barras la cantidad de filas pertenecientes
  a cada valor.¿Es posible realizar este gráfico con un histograma? Explique las diferencias entre estos dos tipos de gráficos.
5.   Variables cuantitativas:
  * Sobre variables de este tipo calcular las siguientes medidas de resumen, y armar un nuevo dataframe con estos datos:
      * Media
      * Mediana
      * Moda
      * Primer y tercer cuartil
      * Rango
  * Correlación de atributos
      * Explorar las variables tomándolas de a pares utilizando un gráfico scatter_matrix
      * Calcular la correlación de Pearson y graficar las correlaciones obtenidas en un gráfico de tipo heatmap
      ¿Existen variables correlacionadas? ¿Es esperable o no?

### Parte II

1.   A partir de la exploración realizada plantear dos preguntas de investigación que les resulten interesantes para formular sobre los datos propuestos. Por ejemplo, ¿existe alguna relación
entre el género musical y alguna de las otras variables?

2.   Elegir dos visualizaciones que permitan abordar sus preguntas de
investigación e interpretar los resultados.